body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
}

#imageInput {
    display: block;
    margin: 10px auto;
}

#resultsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

img {
    width: 200px;
    margin: 10px;
}
